.intro{
    color: #6495ED;
}
.introone{
    color: #5F9EA0;
}
.introtwo{
    color: #00008B;
}
.introthree{
    color: #87CEFA;
}
.introfour{
    color: #0000CD;
}
.introfive{
    color: #4169E1;
}
h1 {
    color: #1E90FF;
}
.fontstyle {
    color: #B3d9ff;
    font-style: italic;  
}
italicone {
    font-style: italic;
}